# Ignorar imágenes y datos volumétricos
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.nii.gz
*.nii
*.npy
*.zip
*.lta
*.git
*.pdf

# Ignorar archivos de modelos y pesos
*.safetensors
*.pkl
*.bin
*.pt
*.h5
*.pth
*.ckpt
*events.out.tfevents*
# visual studio
*.pyc
